*{
margin: 0;
padding: 0;
}

.dashboard{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    height: 80vh;

}

.students h1{
    font-size: 1.4em;
    font-weight: 500;
    padding: 10px 0;
}

.search{
padding: 0 20px;
border: 1px solid black;
}

.buttons{
    margin-top: 0;
    padding:5px 10px;
    background-color: rgb(51, 113, 194);
    border-radius: 6px;
    color: white;
    margin: 0 10px;
}

#table1{
    position: relative;
    top: 50px;
}


.inputs button{
    margin-top: 0;
    padding:5px 10px;
   
    background-color: rgb(51, 113, 194);
    border-radius: 6px;
    color: white;
    margin: 0 10px;
}

.inputs{
    margin: 30px ;
}

.searches{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 5px;
}