
.changepass{
    margin: 30px 40px;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.pass_inputs button{
    margin: 30px;
}

.pass_inputs{
    width: 50vb;
}

.form-label{
    margin-top: 10px;
}