.tableCont{
    margin-top: 30px;
    border: 1px solid black;
    padding: 0 20px;
}

.table-row td{
    padding: 10px;
}

.ProfileCont{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    height: 40vh;
    width: 100%;
}

.tableCont{
    width: 80vb;
  
}
